
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .item {
    padding: 50px 40px;
    border: 2px solid rgb(255, 238, 2);
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;
    text-align: center;
  }
  .item1 {
    padding: 50px 40px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;
    text-align: center;
    height: 400px;
  }
  .item2 {
    padding: 50px 40px;
    border: 2px solid rgb(153, 255, 0);
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;
    text-align: center;
    height: 500px;
  }
  .icon {
    color: #707070;
    margin-left: 40%;
  }
  /* .middle-text {
    font-size: 24px;
    font-weight: 700;
    margin: 20px auto;
  } */
  .footer-text {
    color: #949494;
    margin: 20px auto;
  }
  .base-wrap {
    position: relative;
    margin-top: -100px;
    /* Changed from absolute to relative for better positioning */
  }
  .base {
    background: white;
    display: inline-block;
    height: 20px;
    margin-left: 107%;
    position: relative;
    width: 60px;
    transform: rotate(90deg);
    border: 2px solid #008cff;
    border-bottom: 1px solid transparent;
    z-index: 1;
  }
  .base:before {
    border-bottom: 34px solid #008cff;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    content: "";
    height: 0;
    left: -1px;
    position: absolute;
    top: -35px;
    width: 0;
  }
  .base:after {
    border-bottom: 34px solid #fff;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    content: "";
    height: 0.5px;
    left: 0px;
    position: absolute;
    top: -33px;
    width: 0;
  }
  @media (max-width: 768px) {
    .flex-container {
      display: block;
      width: 300px;
    }
    .base-wrap {
      top: auto;
      bottom: -24px;
      left: -18%;
    }
  }
  