.container1 {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap; /* Keep all panels in a single row */
  overflow-x: auto; /* Allow horizontal scrolling if necessary */
  padding: 0 10px; /* Add padding to the sides of the container */
  width: 100% !important;
  overflow-x: hidden;


.panel {
  flex: 0 0 100vw; /* Each panel takes full screen width */
  min-height: 100vh; /* Full height */
}

.service-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px; /* Horizontal gap of 10px */
  flex: 0 0 calc(33.33% - 20px); /* Each service panel takes about 1/3 of the container width, accounting for margin */
  max-width: calc(33.33% - 20px); /* Limit max width for better layout */
}
}