@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.hero {
  background: url(./images/hero-bg.svg) top center no-repeat;
  background-size: cover;
}


.footer {
  background: url(./images/footer.svg) top center no-repeat;
  background-size: cover;
}

.cta {
  background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url(https://images.unsplash.com/photo-1497215728101-856f4ea42174?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) fixed center center;
}
.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 150px;
    height: 35px;

    @media screen and (min-width: 2000px) {
      width: 200px;
      height: 60px;
    }
  }}


  .cardArea {
    flex-direction: row !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }


/* This will limit the paragraph to 5 lines and hide the overflow */
.max-h-52 {
   /* Adjust based on your line height */
  overflow-y: auto; /* Enable scrolling for overflow text */
}

/* Custom scrollbar styles */
.max-h-52::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.max-h-52::-webkit-scrollbar-track {
  background: #ffffff; /* Background of the scrollbar track */
}

.max-h-52::-webkit-scrollbar-thumb {
  background-color: #274da3; /* Blue color for the scrollbar thumb */
  border-radius: 10px;
  border: 1px solid #172442; /* Rounded corners for the thumb */
}

.max-h-52::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff /* Darker blue on hover */
}

